@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #FFD700; /* Gold color for the yellow palette */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}